/*https://www.computerhope.com/color.htm*/
.color[data-background="0"] {
    /*background-color: black;*/
    background-color: white;
}

.color[data-background="1"] {
    background-color: blue;
}

.color[data-background="2"] {
    background-color: green;
}

.color[data-background="3"] {
    background-color: aqua;
}

.color[data-background="4"] {
    background-color: red;
}

.color[data-background="5"] {
    background-color: purple;
}

.color[data-background="6"] {
    background-color: yellow;
}

.color[data-background="7"] {
    /*background-color: white;*/
    background-color: black;
}

.color[data-background="8"] {
    background-color: gray;
}

.color[data-background="9"] {
    background-color: lightblue;
}

.color[data-background="A"] {
    background-color: lightgreen;
}

.color[data-background="B"] {
    /*Light aqua*/
    background-color: lightskyblue;
}

.color[data-background="C"] {
    /*Light red*/
    background-color: lightcoral;
}

.color[data-background="D"] {
    /*Light purple*/
    background-color: mediumpurple;
}

.color[data-background="E"] {
    background-color: lightyellow;
}

.color[data-background="F"] {
    /*Bright white*/
    background-color: whitesmoke;
}

.color[data-foreground="0"] {
    /*color: black;*/
    color: white;
}

.color[data-foreground="1"] {
    color: blue;
}

.color[data-foreground="2"] {
    color: green;
}

.color[data-foreground="3"] {
    color: aqua;
}

.color[data-foreground="4"] {
    color: red;
}

.color[data-foreground="5"] {
    color: purple;
}

.color[data-foreground="6"] {
    color: yellow;
}

.color[data-foreground="7"] {
    /*color: white;*/
    color: black;
}

.color[data-foreground="8"] {
    color: gray;
}

.color[data-foreground="9"] {
    color: lightblue;
}

.color[data-foreground="A"] {
    color: lightgreen;
}

.color[data-foreground="B"] {
    /*Light aqua*/
    color: lightskyblue;
}

.color[data-foreground="C"] {
    /*Light red*/
    color: lightcoral;
}

.color[data-foreground="D"] {
    /*Light purple*/
    color: mediumpurple;
}

.color[data-foreground="E"] {
    color: lightyellow;
}

.color[data-foreground="F"] {
    /*Bright white*/
    color: whitesmoke;
}


* {
    margin: 0;
}

.foldable {
    margin-left: 5px;
}

.foldable .foldButton {
    cursor: pointer;
}

.foldable.folded * {
    display: none;
}

.foldable.folded .foldButton {
    display: block;
}

.foldable.folded .foldButton .folded {
    display: none;
    /* When folded the fold button hides */
}

.foldable.folded .foldButton .unfolded {
    display: block;
    /* When folded the unfold button shows */
}

.foldable .foldButton .folded {
    display: block;
    /* When not folded the fold button shows */
}

.foldable .foldButton .unfolded {
    display: none;
    /* When not folded the unfold button hides */
}


fieldset {
    width: fit-content;
}

html, body {
    width: 100%;
    height: fit-content;
}

body * {
    z-index: 0;
}

#loadingOverlay {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 50%);
}

#loading {
    position: absolute;
    z-index: 2;
    width: fit-content;
    height: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loadingMessage {
    z-index: 3;
    color: black;
    background-color: white;
    border-radius: 10px;
    border: 1px solid white;
    width: fit-content;
    height: fit-content;
    padding: 5px;

    transform: translateX(-50%);
    left: 50%;
    position: relative;
}

.loading {
    z-index: 3;
    margin-bottom: 5px;
    transform: translateX(-50%);
    left: 50%;

    width: 120px;
    height: 120px;
    position: relative;
    background-color: transparent;
}

.loading .loading-cut1, .loading .loading-cut, .loading .loading-line {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: 0;
    left: 0;
}

.loading .loading-line {
    position: absolute;
    border: 10px solid white;
    z-index: 1;
}

.loading .loading-cut1, .loading-cut {
    position: absolute;
}

.loading .loading-cut {
    z-index: 2;
    border: 10px solid black;
    border-right-color: transparent;
    border-bottom-color: transparent;
    animation: rotate 1s infinite;
}

.loading .loading-cut1 {
    z-index: 3;
    border: 10px solid black;
    border-right-color: transparent;
    border-bottom-color: transparent;
    animation: rotate1 1s infinite;
}

@keyframes rotate1 {
    0% {
        transform: rotate(-45deg);
        /*display: none;*/
        /*visibility: hidden;*/
    }
    25% {
        transform: rotate(45deg);
    }
    50% {
        transform: rotate(90deg);
    }
    75% {
        transform: rotate(135deg);
    }
    100% {
        transform: rotate(315deg);
        /*display: block;*/
        /*visibility: visible;*/
    }
}

@keyframes rotate {
    from {
        transform: rotate(-45deg);
    }
    to {
        transform: rotate(315deg);
    }
}
